.button {
  font-size: 1.2em;
  font-family: sans-serif;
  padding: 3px 7px 3px 7px;
  border:1px solid #969696;
  border-radius: 3px;
}

.button_neutral {
  background-color: #cccccc;
}
.button_neutral:hover {
  box-shadow: inset 2px 2px #969696;
}

.button_ok {
  background-color: #9cff86;
}
.button_ok:hover {
  box-shadow: inset 2px 2px #8dd07e;
}

.button_cancel {}
.button_cancel:hover {}
