@font-face {
  font-family: 'pacifico';
  src: url('../graphic_chart/fonts/Pacifico.ttf');
}

.button {
  font-size: 1.3em;
  font-family: pacifico, sans-serif;
  color: white;
  padding: 7px 30px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  transition: all 0.9s;
}

.button_neutral {
  background-color: #cccccc;
  border-bottom: 5px solid #969696;
  text-shadow: 0px -2px #969696;
}
.button_neutral:hover {
  background-color: #969696;
  border-bottom: 5px solid #636363;
}

.button_ok {
  background-color: #82BF56;
	border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}
.button_ok:hover {
  background-color: #719f50;
  border-bottom: 5px solid #57783f;
}

.button_cancel {
  background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}
.button_cancel:hover {
  background-color: #CC4335;
  border-bottom: 5px solid #7c3029;
}
